* {margin: 0%; padding: 0; box-sizing: border-box; font-family: sans-serif; transition: transform .05s ease .02s, z-index .01s, .1s linear;}
body {background-color: rgb(70, 70, 70);}
.kubik {border: 2px solid rgb(214, 214, 214); width: 400px; margin-left: 10px; margin-top: 10px; border-radius: 8px;}
.pikcha {width: 100%; margin-bottom:6px;}
.row {margin-right: auto;}
.brend {margin-top:8px; font-weight:bold; border-radius: 8px; background-color: rgb(126, 30, 190); padding: 4px; padding-right: 8px; padding-left: 8px; text-decoration: none; color:white; margin-bottom: 6px; text-transform: uppercase;}
.cena {color: rgb(78, 78, 78); font-weight:bold; border-radius: 8px; background-color: rgb(255, 221, 68); padding: 4px; padding-right: 8px; padding-left: 8px; text-decoration: none; margin-bottom: 6px;}
.reviews {text-transform: uppercase; font-weight:bold; color:rgb(185, 185, 185); text-decoration: none;}
.text {text-align: center; font-size: 80%; color: white}
.button-buy {text-transform: uppercase; font-weight:bold; width: 100%; background-color: rgb(255, 221, 68); border-radius: 8px; border: none; padding: 4px; margin-bottom: 12px; color: rgb(78, 78, 78);}
.brend:hover {background-color: rgb(161, 46, 238); color:white;}
.button-buy:hover {background-color: rgb(255, 213, 23);}
.reviews:hover {color:rgb(211, 211, 211);}
.black {color:rgb(97, 97, 97); margin:10px; font-weight:bold; border-radius: 8px; background-color: rgb(255, 255, 255); padding: 4px; padding-right: 8px; padding-left: 8px; text-decoration: none;  text-transform: uppercase;}
.black:hover {color:rgb(97, 97, 97); background-color: rgb(226, 226, 226);}
